body {
    background-color: rgb(251, 194, 82);
}

.navbardiv {
    display: flex;
    justify-content: space-between;
}

.navbardiv ul {
    list-style-type: none;
}

.navbardiv ul li{
    /* display: inline-block; */
    padding-left: 25px;
}

.logo-side {
    display: flex;
}

.logo {
    border: 1px black solid;
    border-radius: 7px;
    width: 180px; 
    margin: 20px;
}

h1,
h2,
h3 {
    color: rgb(220, 13, 9);
    justify-content: center;
    align-items: center;
}

button {
    border: 3px solid rgb(221, 74, 72);
    padding: 7px 10px;
    margin: 10px;
    background-color: rgb(240, 236, 207);
    /* background-color: rgb(243, 243, 176); */
}

.new-recipe {
    /* display: flex;
    flex-direction: column; */
    width: 80%;
    /* align-items: center;
    justify-content: center;
    height: 100%;
    padding: 16px; */
    display: grid;
    grid-template-columns: 1fr;
}


label {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    font-size: 0.8em;
}

.subtitles {
    font-weight: bold;
    text-decoration: underline;
}

.formboxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.formArea {
    background-color: rgb(192, 216, 192);
    margin-top: 30px;
}

