body {
    background-color: rgb(251, 194, 82);
    font-family: 'Courier New', Courier, monospace;
}

.navbardiv {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}

.navbardiv ul {
    list-style-type: none;
    margin: 40px 20px;
    padding: 0px;
}

.navbardiv ul li{
    padding-left: 25px;
}

.logo-side {
    display: flex;
}

.logo {
    border: 1px black solid;
    border-radius: 7px;
    width: 180px; 
    margin: 20px;
}

.time-of-meal {
    display: flex;
    justify-content: center;
}

h2,
h3 {
    color: rgb(220, 13, 9);
    justify-content: center;
    align-items: center;
}

h1 {
    color: rgb(220, 13, 9);
    text-decoration: underline;
    align-items: center;
    font-size: 30px;
}

button {
    border: 3px solid rgb(221, 74, 72);
    padding: 7px 10px;
    margin: 10px;
    background-color: rgb(240, 236, 207);
}

.new-recipe {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    border: 7px ridge rgb(251, 194, 82);
    border-radius: 20px;
    padding: 30px;
    margin: 30px;
}

/* positions AddRecipe button from middle to bottom right of the form container */
.form-container {
    position: relative;
    background-color: rgb(192, 216, 192);
    padding: 20px;
}

.submit-new-recipe {
    position: absolute;
    bottom: 0;
    right: 0;
}

.ingredients-container {
    list-style-type: none;
    border: 0.5px solid black;
    width: 50%;
    font-style: italic;
}


label {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    font-size: 0.8em;
}

.subtitles {
    font-weight: bold;
    text-decoration: underline;
}

.formboxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 30px;
}

.formArea {
    background-color: rgb(192, 216, 192);
    padding: 20px 30px;
}

