body {
    background-color: rgb(247, 202, 24, 0.9);
}

.mealprepNavbar {
    color: rgb(83, 55, 242);
    padding: 10px;
   
}

button {
    border: 2px solid rgb(238, 106, 58);
    padding: 7px 10px;
    margin: 10px;
    /* background-color: rgb(249, 249, 6, 0.8); */
    background-color: rgb(243, 243, 176);
}

.new-recipe {
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 243, 176);
    width: 25%;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

label {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    font-size: 0.8em;
}

